@use '../base/variables' as v;
@use '../base/mixins' as m;


// --------------- ABOUT
.about{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4.5rem;
    margin-bottom: 13rem;

  &_data{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_ilustrattion {
      width: 100%;
      margin-left: 5rem;
  }

   &_img{
    width: 25rem;
   }

    &_title-d{
       margin-left: 8rem; 
    }

         &_title-d::before {
           top: 7.7rem; 
        
         }  
 
    &_p{
        margin-bottom: 2rem;
        font-size: 1.5em;
    }
}



  



//MEDIAS QUERIES EMAIL

 @include m.desktop{

 }
 @include m.tablet{

 }
@include m.movil {

}