@use '../base/variables' as v;
@use '../base/mixins' as m;


.values{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;

    &_resume {
           width: 35% ;
        }
    &_boxes{
        display: flex;
    }

    &_child--5{
        display: none;
    }
    &_child--4{
        width: 9rem;
        height: 9rem;
    }
    &_child--3{
        width: 7rem;
        height: 7rem;
    }

    &_child--1{
        width: 6rem;
        height: 6rem;
    }
    &_child--2{
        width: 12rem;
        height: 12rem;
        margin-top: 3rem;
    }
    &_boxes-1{
        width: 75%;
        justify-content: space-between;
    }
    &_boxes-2{
       gap: 3.5rem ;
       margin-top: 5rem;
       justify-content: center;
    }
     
    &_details{
        text-align: right;
        color: v.$principal;
        margin-top: -0.8rem;
    }

           &_boxes-3 {
            width: 100%;
               display: flex;
               justify-content: space-evenly;
           }

                  
}

.waterBrand{
    width: 20rem ;
    margin-top: -13rem;
    opacity: 0.2;
}


@include m.desktop {
    .waterBrand {
            width: 15rem;
            margin-top: -13rem;
            opacity: 0.2;
        }
    .values{
       
        &_child--4 {
                width: 7rem;
                height: 7rem;
            }
        
            &_child--3 {
                width: 5rem;
                height: 5rem;
            }
        
            &_child--1 {
                width: 6rem;
                height: 6rem;
            }
        
            &_child--2 {
                width: 10rem;
                height: 10rem;
                margin-top: 3rem;
            }

             &_resume {
                width: 37%;
          font-size: 1.2em;
          margin-top: -0.45rem;
        }

                   &_boxes-2 {
                       gap: 2.5rem;
                   }
    }
}

@include m.tablet {}

@include m.movil {
    .values{
        width: 85%;
        margin: 0 auto;

        &_child--5{
            display: block;
            width: 20rem;
            
        }
        &_child--1{
            display: none;
        }
        &_child--2{
            display: none;
        }
        &_child--3{
            display: none;
        }
        &_child--4{
            display: none;
        }

        &_boxes-2{
            flex-direction: column;
            margin-top: 5rem;
            gap: 2rem;
            margin-bottom: 2rem;
        }

        &_details{
            font-size: 1.2em;
            text-align: left;
    
        }

        &_resume{
            width: 100%;
            font-size: 1.05em;
        }

    }


        .waterBrand {
            display: none;
        }
}

