@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;    

    &__logo{
        width: 6rem;
        padding: 3rem 0;
    }

    &_nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &_menuIcon{
        display: none;
    }
}

.container-hero-nav {
    margin: 0 auto;
    width: 86%;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    align-items: center;
}

.link_show {
    display: flex;
    justify-content: end;
}

.link_close {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;


    &_menu{
        display: none;
    }
    &__item {
        font-size: 1.5em;
        color: v.$p;
        height: fit-content;
        margin-top: 10px;

    }

    &__item::after {
        content: "";
        position: relative;
        background: v.$green;
        height: 10px;
        width: 0;
        z-index: -1;
        transition: width 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }

    &__active {
        color: v.$secundary;
    }

}

.nav__item:hover::after {
    width: 100%;
}

.hero_up {
    position: fixed;
    opacity: 0;
    width: 5rem;
    right: 0;
    bottom: 0;
    margin: 5rem;
    z-index: 5;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.hero_up:hover {
    filter: brightness(1.03);
    scale: 1.3;
}

.hero_call {
    position: fixed;
    opacity: 0;
    width: 5rem;
    left: 0;
    bottom: 0;
    margin: 5rem;
    z-index: 5;
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.hero_call:hover {
    filter: brightness(1.03);
    scale: 1.3;
}

//MEDIAS QUERIES 

@include m.desktop {}

@include m.tablet {}

@include m.movil {

     .container-hero-nav{
         display: flex;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         background-color: v.$blue;
     }


    .header {
        justify-content: center;
        background-color: v.$blue;
        height: fit-content;
        width: 95%;
        margin-top: 0.5rem;
        border-radius: 1rem;

        &_nav-container{
            width: 100%;
        }

       

        &__logo {
            width: 7rem;
            padding: 1rem 1.5rem;
        }

        &_menuIcon {
            display: block;
            width: 3.5rem;
            padding-right: 2rem;
        }

        &__nav{
            display: none;
            }
            
            .hero {
                &_btn-contact {
                    display: none;
                }

              
            
                &_up {
                    width: 3.5rem;
                    margin: 2rem;
                }
            
                &_call {
                    width: 3.5rem;
                    margin: 2rem;
                }
            }
            
            }
            
            
            }


   



