@use '../base/variables' as v;
@use '../base/mixins' as m;


// --------------- HOME
.hero{
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  height: 100vh;
 
  &_description--movil{
    display: none;
  }


    &_img-cont {
     display: none;

    }

  &_resources{
    background-image: url(../../../public/resources/hero-image.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content:right;
    padding: 2.7rem 8rem 2rem 0;
  }

    &_btn-call {
      @include m.buttom-green;
    }

    &_btn-call:hover{
      filter: brightness(1.05);
      transform: scale(1.03);
    }
    
    &_value-proposal{
      margin-top: 4.5rem;;
    }

    &_title {
      line-height: 5.4rem;
      width: fit-content;
    }
  
    &_container-t {
      display: flex;
    }

  &_title-d{
    font-family: v.$font-secundary;
    font-size: 1.6em;
    color: v.$principal;   
    width: fit-content; 
    position: absolute;
    margin-top: -1rem;
    margin-left: 1rem;
  }

  &_title-d::before{
    content: "";
    position: relative;
    background: v.$green;
    height: 15px;
    top: 5rem;
    z-index: -1;
  }


  &_icon-caracol{
    width: 5.5rem;
  }

  &_description{
    padding-top: 1.8rem;
  }

  &_cta{
    margin-top: 5rem;
    @include m.buttom-blue
  }

     &_cta:hover {
       filter: brightness(1.05);
       transform: scale(1.03);
     }
}

.social{
  background-color: v.$green;
 width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 5rem 1.5rem;
  }


  &_icon{
    width: 7rem;
    margin-bottom: 2rem;
    
    
  }

  &_description{
    font-weight: 400;
    font-size: 1em;
    color: v.$secundary;
  }
}

.bold{
  font-weight: bold;
}

//MEDIAS QUERIES 

@include m.desktop {
.hero{
  &_value-proposal {
      margin-top: 2.3rem;
      ;
    }

        &_title-d::before {
          top: 4.3rem;
        }

    &_title{
      line-height: 1.1em;
    }

    &_cta{
      margin-top: 3.5rem;
      font-size: 1.1em;
    }

    &_description{
      padding-top: 1rem;
    }

        &_btn-call {
          font-size: 1.1em;
        }
}

}

@include m.tablet {}

@include m.movil {

  .hero {
      grid-template-columns: 1fr;
      height: inherit;
  
      &_btn-call {
        display: none;
      }
  
      &_title {
        line-height: 1.3em;
        font-family: 'Rubik', sans-serif;
  
      }
  
      &_icon-caracol {
        width: 3em;
      }
  
      &_title-d::before {
  
        top: 3rem;
  
      }
  
      &_value-proposal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 7rem;
      }
  
      &_resources {
        display: none;
      }
  
      &_img-cont {
        display: block;
        border-radius: 2rem;
        margin-top: 3rem;
  
      }
  
      &_title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
  
      }
  
      &_description--movil {
        display: block;
        text-align: center;
        width: 85%;
  
  
      }
  
      &_description {
        display: none;
      }
  
      &_cta {
        margin-bottom: 5rem;
      }
  
  
    }
  
    .social {
      &_link {
        margin: 0;
        padding: 1rem 0;
      }
  
      &_container {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 5rem 0;
      }

      &_box{
        padding: 1rem 1.3rem;
      }
  
      
  
      &_name {
        display: none;
      }
    }
  
  
  }








