@use '../base/variables' as v;
@use '../base/mixins' as m;


// --------------- PROGRAM
.program{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: max-content;
    margin: 10rem auto;
    gap: 5rem   ;
   

    &_description--container   {
            padding-bottom: 8rem;
            position: sticky;
            top: 13rem;
    }

    &_title{
        margin-top: 10rem; 
    }

    &_areas{
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem;
    }

    &_card-container{
        height: 100vh;
        position: sticky;
        top: 0;
    }

    &_card {
            padding: 8rem 7rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5rem 10rem 15rem  9rem/ 3rem 7rem 5rem 3rem ;
            background-image: url(../../images/petits-fly.png);
            background-position: 450px 30px;
            background-repeat: no-repeat;
            background-size: contain;

        }

    &_card--1{
       background-color: v.$green;
        position: sticky;
        top: 8rem;
        z-index: -1;
    
    }
    &_card--2{
        background-color: v.$blue;
        position: sticky;
        top: 10rem;
        z-index: -1;
    
    }
    &_card--3{
        background-color: v.$green;
        position: sticky;
      top: 12rem;
        z-index: -1;
    }

    &_name{
        color: v.$secundary;
        font-weight: 700;
        margin-bottom: 3rem;
     
    }
    &_name--2{
        color: v.$principal;     
    }

    &_details{
        line-height: 2.8rem;
        font-size: 1.8em;
    }
}



//MEDIAS QUERIES EMAIL

@include m.desktop {}

@include m.tablet {}

@include m.movil {
    .program{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 5rem;

        &_description--container {
                padding-bottom: 3rem;
                position: sticky;
                top: 13rem;
            }

            &_details{
                font-size: 1em;
                line-height: 2rem;
            }
        

        &_title{
            line-height: 3.5rem;
            margin-top: 5rem;
            margin-bottom: 2rem;
        }

        &_name{
            font-size: 1.3em;
            margin-bottom: 1.5rem;
        }

          &_card {
            padding: 3rem 2rem;
            border-radius: 5rem / 3rem 5rem 2rem 3rem;
        }
    }
}