@use '../base/variables' as v;
@use '../base/mixins' as m;

.team{
    margin: 10rem 0;
  

    &_title{ 
        padding: 8rem 0; 
        text-align: center;  
    }  

        &_container {
            width: 70%;
            display: grid;
            place-content: center;
        }

    &_info{ 
        display: flex;
        align-items: center;  
        justify-content: center;
        margin-bottom: 2rem;
    }

    &_info:nth-child(2) &_member-data{
        background-color: #e3eef1;
    }
    &_info:nth-child(2) &_member-data &_name{
       color: v.$principal;
    }
    &_info:nth-child(2) &_member-data &_position{
       color: v.$principal;
    }


    &_img{
      width: 18rem;
      height: 21rem;
        border-radius: 2rem;
        margin-right: 2rem;
        
    }
    &_member-data{
        background-color: #f1f4e6;
        padding: 3rem; 
        border-radius: 2rem;
        width: 100%;
        height: 21rem;

        div{
            margin-bottom: 1rem;
        }
    } 

    &_name{
        font-size: 1.8em;
        font-weight: 600;
        color: v.$secundary;
    }
    &_position{
        font-size: 1.3em; 
            color: v.$secundary; 
    } 
} 

@include m.desktop {

    .team{
        margin: 2rem 0;

            &_img {
                    width: 15rem;
                    height: 18rem;
            
                }

                &_member-data{
                    height: 18rem;
                }

                                        &_name {
                                            font-size: 1.5em;
                                           
                                        }
                    
                                        &_position {
                                            font-size: 1.1em;
                                          
                                        }

    }
}

@include m.tablet {}

@include m.movil {
    .team{
        margin-top: -5rem;
        margin-bottom: 5rem;

        &_container{
            width: 95%;
        }

        &_name{
            font-size: 1.5em;
        }

        &_title{
            padding-top: 0;
            padding-bottom: 3rem;
            font-size: 3em;
        }

        &_info{
        flex-direction: column;
        align-items: start;
        }

        &_img{
            width: 6rem;
            height:6rem;
            margin: 0; 
            margin-left: 1.8rem;   
            z-index: 1;   
        }
        &_member-data{
            height: 100%;
            margin-top: -1.5rem;
        }
    }
}