//color palette
$principal : #0482A6;
$secundary : #7e8c3a;
$pgreen : #647024;
$green : #eff2df;
$blue : #CFECF4;
$p: #174350;



//typography
$font-principal: 'Rubik', sans-serif;
$font-secundary: "Parisienne",cursive; 

//medias queries
$movil: 480px;
$tablet: 900px;
$desktop: 1600px;
//$desktopXL: 1800px;





